@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@import url(./main.css);
@import url(./footer.css);


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1%;
  color: white;
}


header {
  background-color: #19849B;
  width: 100%;
  height: 58px;
  color: white;

  position: fixed;
  z-index: 1;

  font-size: 30px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  background-color: #272A2F;
  max-width: 100%;
  /* height: 180vh; */
  display: flex;
  justify-content: center;
  padding: 50px;
}

.portfolio {
  margin-top: 104px;
  margin-bottom: 99px;
}

span {
  font-size: 24px;
  font-weight: bold;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  /* margin-left: -20px; */
}

.img {
  width: 100%;
  height: 100%;
  /* padding-left: 20.35px ; */
  /* margin-bottom: 20px; */
  /* background-size: cover; */
  object-fit: cover;
}

.divImg {
  position: relative;
  cursor: pointer;
  width: 244px;
  height: 244px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.divImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 0;

}

.divImg:hover::after {
  background: rgba(25, 132, 155, 0.3);
  z-index: 1;
}

.overlay-img {
  background: rgba(25, 132, 155, 0.3);
  width: 100%;
  height: 100%;

  position: fixed;
  opacity: 0;
  visibility: hidden;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-btn-img {
  position: relative;
  top: -26%;
  left: 185%;
}

.overlay-img > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.open2 {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition-duration: 300ms;
}

.imgHover {
  position: relative;
  top: -60%;
  left: 50%;
  visibility: hidden;
}

.imgHover:hover {
  visibility: visible;
}

.loading {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


@media screen and (max-width: 1064px) {
  .portfolio {
    width: 100%;
  }
  section {
    width: 100%;
    gap: 25px;
  }
  .img {
    /* width: calc(100% / 4 - 21px); */
    width: 100%;
    height: 180px;
    padding-left: 0;
    margin-bottom: 0;
}
  .divImg {
    width: calc(100% / 4 - 21px);
    height: 180px;
    margin-left: 0;
  }
  .loading {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 760px) {
  .portfolio {
    width: 100%;
  }
  .img {
  /* width: calc(100% / 2 - 21px); */
  width: 100%;
  height: 165px;
  }
  section {
    width: 100%;
  }
  .divImg {
    width: calc(100% / 2 - 21px);
    height: 100%;
    margin-bottom: 0px;
  }
  .overlay-img > img {
    width: 360px;
    height: 360px;
  }
  .close-btn-img {
    top: -46%;
    left: 117%;
  }
}

